.content{
	padding-top: 150px;

}
.labelDesign{
    display: inline-block;
    color: rgb(68, 66, 179);
    width: 100%;     
}

.inputDesign{
    width: 60%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid blue;
}


.addGameTittleDesign{
    
    color: rgb(68, 66, 179);
    text-align: center;
    font-weight: bold;
    width: 320px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
}

.addGameForm{
    
    width: 320px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fileUpload{
	padding-left: 50px;
}
